/****** General ***********/
* {
font-family: 'Raleway', sans-serif;
}

a {
text-decoration: none;
}

:root {
--main-color: #0065FC;
--main-bg-color: #F2F2F2;
--filter-bg-color: #DEEBFF;
}

.fa-solid {
color: var(--main-color);
}

body {
display: flex;
justify-content: center;
}

.main-container {
width: 100%;
max-width: 1440px;
padding: 0 50px;
box-sizing: border-box;
}

.section-title {
margin: 0;
font-size: 22px;
}

.card {
background-color: white;
border-radius: 20px;
padding: 5px;
filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
object-fit: cover;
}

.card-title {
font-size: 16px;
}

.euro {
font-weight: 700;
}

.neutralStar {
color: var(--main-bg-color)
}

/* HEADER & NAVIGATION */

.logo-booki {
width: 61px;
height: 19px;
}

.logo-container, .menu-container {
display: flex;
}

.flex {
display: flex;
justify-content: center;
align-items: center;
}

.navblock { 
width: 140px;
height: 55px;
}

.navigation-menu {
display: flex;
justify-content: space-between;
align-items: center;
}

.hover-bord:hover > a {
color: #0065FC;
}

.hover-bord:hover{
border-top: 2px solid #0065FC;
cursor: pointer;
}

.hover-bord {
border-top: 2px solid transparent;
}

.black {
color: black;
}

/* BARRE DE RECHERCHE */
.recherche {
height: 50px;
width: 230px;
font-size: 18px;
color: black;
font-weight: bold;
border: none;
}


.search {
width: 400px;
border-radius: 15px;
border: 0.5px solid #F2F2F2}

.button-search:hover {
color: #0065fc;
background-color: #0065fc;
}

.icon {
height: 50px;
width: 50px;
border-radius: 15px 0 0 15px;
background-color: #f2f2f2;
}

.color-b {
color: #0065FC;
}

.button {
height: 50px;
width: 120px;
color: white;
cursor: pointer;
border-radius: 0 10px 10px 0;
background-color: #0065fc;
font-weight: bold;
}

.button-search:hover {
color: #0065fc;
background-color: #f2f2f2;
}
.padding-city {
padding-left: 20px;
}

/* FILTRES */

.filter-tab {
display: none;
}

.flex-filtre {
display: flex;
align-items: center;
font-weight: bold;
margin-top: 35px;
}

.bulle {
border: 2px solid #9e9a9a7a;
height: 50px;
width: 150px;
border-radius: 30px;
margin-right: 20px;
font-weight: bold;
padding-left: 5px ;
padding-right: 5px ;
}

.bulle:hover {
background-color: #DEEBFF;
cursor: pointer;
} 

.margin {
margin-right: 10px;
}

.info {
display: flex;
align-items: center;
}

.rond-info {
width: 20px;
height: 20px;
border: 2px solid #f2f2f2;
border-radius: 25px;
margin-right: 5px;
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
display: flex;
justify-content: space-between;
}

.hebergements-and-populaires section {
background-color: var(--main-bg-color);
border-radius: 20px;
padding: 30px;
box-sizing: border-box;
padding-bottom: 0px;
padding-top: 20px;
}

/****** Hebergements ***********/

.up-title {
margin-top: -20px;
}

.hebergements {
width: 65%;
}

.title-hotel {
margin-top: 0 ;
}

.space-between {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.spacebottom {
margin-bottom: 20px;
}

.card-hebergement {
width: 30%;
height: 230px;
background-color: white;
padding: 1%;
border-radius: 20px;
cursor: pointer;
box-shadow: 5px 5px 5px 1px #f2f2f2;
}

.taille-img {
object-fit: cover;
width: 100%;
height: 124px;
border-radius: 15px 15px 0 0;
}

.click {
cursor: pointer;
}
/****** Populaires ***********/
.populaires {
width: 32%;
}

.populaires-title {
display: flex;
justify-content: space-between;
align-items: center;
}

.populaires-cards .card {
display: flex;
margin-top: 45px;
}

.populaires-cards img {
width: 33%;
height: 134px;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
width: 67%;
padding-left: 15px;
display: flex;
flex-direction: column;
justify-content: space-between;
box-sizing: border-box;
}

.populaires-cards .card-title {
margin-top: 10px;
margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
margin: 0;
}

.populaires-cards .card-rating {
margin-bottom: 5px;
}



/* Activités */

.card-activites {
width: 23%;
height:380px;
border-radius: 20px 20px 20px 20px;
box-shadow: 5px 5px 5px 1px #f2f2f2;
cursor: pointer;
}

.taille-img-act {
object-fit: cover;
width: 100%;
height: 300px;
border-radius: 20px 20px 0 0;
}

.alignement {
display: flex;
flex-direction: row;
justify-content: space-between
}

.titre-act {
margin-left: 19px;
}


/* FOOTER */

.footer-block {
height: 200px;
margin-top: 100px;
background-color: #f2f2f2;
display: flex;
justify-content: space-between;
color: black;
}
.taille-bloc-footer {
height: 150px;
}
.bloc-foot1 {
margin-left: 5%;
}
.bloc-foot3 {
margin-right: 15%;
}
.div-lien-foot {
height: 30px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Petit écran Desktop */
@media (max-width: 1285px) {
.hebergements-and-populaires {
flex-direction: column;
}

.hebergements {
width: 100%;
}

.populaires {
width: 100%;
margin-top: 40px;
}

.populaires-cards {
display: flex;
flex-direction: row;
justify-content: space-between;
margin-bottom: 35px;
margin-top: -15px;
}

.populaires-cards .card-title {
font-size: 14px;
}

.populaires-cards .card-subtitle {
font-size: 13px;
}


}

/* TABLETTE */

@media (max-width: 1024px) {
.hebergements-and-populaires {
flex-direction:column;
}

.hebergements {
width: 100%;
}

.populaires {
width: 100%;
margin-top: 50px;
}

.populaires-cards {
display: flex;
flex-direction: row;
justify-content: space-between;
}

.populaires-cards .card {
width: 30%;
}


.populaires-cards .card-title {
font-size: 14px;
}

.populaires-cards .card-subtitle {
font-size: 13px;
}

.card-activites {
width: 23%;
height:280px;
border-radius: 20px 20px 20px 20px;
box-shadow: 5px 5px 5px 1px #F2F2F2;
cursor: pointer;
}

.taille-img-act {
object-fit: cover;
width: 100%;
height: 200px;
border-radius: 20px 20px 0 0;
}

.filter-tab {
display: block;
padding-top: 30px;
padding-left: 10px;
margin-bottom: -10px;
font-weight: bold;
}
.filter-none {
display: none;
} }

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {

.body {

margin: 0;
}

.main-container {
padding: 0px;
}

.container-mobile {
padding: 20px;
}

.text {
display: none;
}

.hover-bord:hover {
border-top: none;
border-bottom: 2px solid #0065FC;
}

.hover-bord {
border-bottom: 2px solid transparent;
}

.navigation-menu {
flex-direction: column;
}

.logo-container.logo-mobile {
justify-content: center;
margin-bottom: 10px;
}

.nav-mobile {
display: flex;
justify-content: space-around;
width: 100%;
}

.navblock {
height: 55px;
width: 300px;
margin: 0px;
}
.button-mobile {
height: 49px;
width: 49px;
border-radius: 15px;
}

.fa-magnifying-glass{
color: white;
}


.flex-filtre {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
align-items: center;
grid-gap: 0px;
font-weight: bold;
margin-top: 35px;
}

.bulle {
width: 80%;
margin-bottom: 10px;
}

.bulle:nth-child(odd) {
margin-right: 20px;
}

.bloc-foot1 {
margin-left: 0%;
}

.footer-block {
height: 500px;
flex-direction: column;
justify-content: space-around;
padding-left: 30px;
}
.text {
display: none;
}


.search {
border: none;
}

.space-between {
display: block;
flex-wrap: none;
justify-content: none;
}

.card-hebergement {
width: 340px;
height: 240px ;
}

.populaires-cards {
display: block;
}

.card {
    width: 335px;
    height: 146px;
}

.alignement {
flex-direction: column;
justify-content: space-between: 
}

.card-activites {
width: 335px;
height: 207px;
margin-bottom: 15px;
}

.populaires-cards .card {
    width: 100%;
}

.taille-img-act {
    height: 141px;
}

.marge-texte{
    margin-left: 30px;
}


.hebergements {
    order: 2;
}

.populaires {
    order: 1;
}

.activity {
    order: 3;
}

}